.audio-player,
.audio-player__player {
    width: 100%;
}

.audio-player {
    margin-bottom: 20px;
}


.audio-player.has-background {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    // the image BG overlay
    &::before {
        background-color: rgba(0,0,0, .8);
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .audio-player__player {
        margin-bottom: -5px;
    }
}

.audio-player__visualizer {
    height: 200px;
    position: relative;
    width: 100%;

    .bar-wrapper {
      height: 150px;
      position: relative;
    }

    .bar {
      position: relative;
      bottom: 0;
      width: 5px;
      display: inline-block;
      border: 1px solid $brand-success;
      height: 5px;
      border-bottom: 3px solid #fff;
    }
}


.hero__title+.audio-player {
    margin-top: 20px;
}
