.blockquote--header {
    background: rgba(#fff, 0.3);
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
    color: #fff;
    min-height: 120px;
    overflow: hidden;
    padding: 20px;
    padding-left: 70px;
    position: relative;
    text-align: left;

    p {
        font-size: 22px;
        line-height: 1.5;
        margin: 0;
        max-width: 80%;
    }
    cite {
        display: block;
        font-size: 16px;
        margin-top: 10px;
        font-weight: 200;
        opacity: 0.8;
    }

    &:before {
        font-family: Georgia, serif;
        content: "“";
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 5em;
        color: rgba(238, 238, 238, 0.8);
        font-weight: normal;
    }
    &:after {
        font-family: Georgia, serif;
        content: "”";
        position: absolute;
        bottom: -110px;
        line-height: 100px;
        right: -32px;
        font-size: 25em;
        color: rgba(238, 238, 238, 0.8);
        font-weight: normal;
    }
}
