
.carousel {
    margin: 0 auto 20px;
}


// Toggles
.icon-prev,
.icon-next,
.fa-chevron-left,
.fa-chevron-right {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
}
.icon-prev,
.fa-chevron-left {
    left: 50%;
    margin-left: -10px;
}
.icon-next,
.fa-chevron-right {
    right: 50%;
    margin-right: -10px;
}
.icon-prev,
.icon-next {
    width:  20px;
    height: 20px;
    line-height: 1;
    font-family: serif;
}


.icon-prev {
    &:before {
        content: '\2039';// SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
    }
}
.icon-next {
    &:before {
        content: '\203a';// SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)
    }
}


// Scale up controls for tablets and up
@media(min-width: $screen-sm) {

    // Scale up the controls a smidge
    .carousel-control {
        .fa-chevron-left,
        .fa-chevron-right,
        .icon-prev,
        .icon-next {
            width: ($carousel-control-font-size * 1.5);
            height: ($carousel-control-font-size * 1.5);
            margin-top: ($carousel-control-font-size / -2);
            font-size: ($carousel-control-font-size * 1.5);
        }
        .fa-chevron-left,
        .icon-prev {
            margin-left: ($carousel-control-font-size / -2);
        }
        .fa-chevron-right,
        .icon-next {
            margin-right: ($carousel-control-font-size / -2);
        }
    }

}
