.main-content{
    padding-top: 19px;
}



// sidebar = .visible-medium-up
.main-content-full-medium-only {
    @media screen and (max-width: $screen-lg){
        margin-right: 0 !important;
        width: 100% !important;
    }
}

// sidebar = .hidden-medium-up
.main-content-full-medium-up {

    @media screen and (min-width: $screen-md){
        margin-right: 0 !important;
        width: 100% !important;
    }
}

// sidebar = .hidden-large-up
.main-content-full-large-up {

    @media screen and (min-width: $screen-lg){
        margin-right: 0 !important;
        width: 100% !important;
    }
}
