/* Hero */
.navbar+.hero {
    margin-top: -20px;
}
.hero {

    border-top: 2px solid $navbar-default-bg;
    border-bottom: 2px solid $navbar-default-bg;

}
.hero--has-background,
.hero--has-background a,
.hero--has-background h1 {
    color: white;
}

.section.hero--slim,
.hero--slim {
    padding-top: 6rem;
    padding-bottom: 1rem;
}


.section.hero--medium,
.hero--medium {
    padding-top: 9rem;
    padding-bottom: 2rem;
}

.section.hero--big,
.hero--big {
    padding-top: 16rem;
    padding-bottom: 3rem;
}


// Full hgiht hero
.section.hero--full,
.hero--full {
    min-height: 100vh;
}

// trim hero a little more if the admin bar is showing
.admin-bar .hero--full {
    min-height: calc( 100vh - 46px);

    @media(min-width: 782px) {
        min-height: calc( 100vh - 32px);

    }
}


.hero.hero--has-background {
    color: white;
    position: relative;

    // the image BG overlay
    &::before {
        background-color: rgba(0,0,0, .4);
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.hero > .container{
    position: relative;
}


@media(min-width: $screen-sm) {
    .hero h1 {
         font-size: $jumbotron-heading-font-size;
    }

}
