.post,
article {
    margin-bottom: 60px;

    img,
    video,
    .video,
    figure {
        height: auto;
        max-width: 100%;
    }
}


.post-featured-image {
    margin-bottom: 1em;
}

.post-title {
    margin-bottom: 20px;

    .fa {
        color: rgba($text-color, .4);
        font-size: .7em;
        margin-right: 15px;
    }


    *{
        margin-top: 0;
    }
}

.post-meta {
    margin-bottom: 20px;
}

.post-meta .fa {
    margin-right: 10px;
}

.post-meta__field {

    margin-right: 20px;

    .post-col-left & {
        margin-right: 15px;
        display: inline-block;

        @media(min-width: $screen-md) {
            margin-right: 0;
            margin-bottom: 5px;
            display: block;
        }
    }

}

.post-content {
    // margin-bottom: 30px;
}
