.audio-player__visualizer {
    height: 200px;
    width: 100%;

    .bar-wrapper {
      height: 150px;
      position: relative;
    }

    .bar {
      position: relative;
      bottom: 0;
      width: 5px;
      display: inline-block;
      border: 1px solid $brand-success;
      height: 5px;
      border-bottom: 3px solid #fff;
    }
}

.hero__title+.audio-player {
    margin-top: 20px;
}
