video,
.video {
    height: auto;
    max-width: 100%;

}


.video-screen {
    background-color: $gray-base;
    text-align: center;

    video,
    .video {
        margin-top: 4px;
        max-height: 400px;
    }
}


.navbar+.video-screen {
    margin-top: -20px;
}
