/* Widget Control */
.bootswatches-widget-area-options {
    display: none;
}

.widgets-holder-wrap .bootswatches-widget-area-options {
    display: block;
}

.widgets-holder-wrap.closed .bootswatches-widget-area-options {
    margin-bottom: 9px;
}

.customize-section-description,
.customize-description-description {
    margin-bottom: 20px;
}
